h1 {
  text-align: center;
  margin-top: 2rem;
  color: #050505;
  font-weight: 600;
  font-size: 2rem;
}

.pdfcontainer {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  padding: 3rem 1.5rem;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  transition: all 0.25s ease;
}

.pdfBox {
  width: 80%;
  max-width: 700px;
  margin: 2rem auto;
  padding: 3rem 1.5rem;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
  text-align: center;
  transition: all 0.25s ease;
  cursor: pointer;
}

.pdfBox.drag-over {
  background-color: #e8f0fe;
  border-color: #007bff;
  color: #0a58ca;
}

.pdfBox:hover {
  background-color: #ffffff;
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.1);
}

.pdfBox input[type="file"] {
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.pdfBox p {
  margin: 0;
  font-size: 1.1rem;
  color: #444;
}

.loading-container {
  margin-top: 1rem;
}

.spinner {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: block;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

section {
  margin-top: 3rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
  gap: 20px;
}

.processbtn,
.historybtn {
  padding: 12px 28px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.processbtn {
  background-color: #007bff;
  color: white;
  border:2px solid #007bff
}

.processbtn:hover {
  background-color: white;
  color: #007bff;
 
}

.historybtn {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
}

.historybtn:hover {
  background-color: #007bff;
  color: white;
}

.cancelbtn {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.cancelbtn:hover {
  background-color: #a71d2a;
}

.dropdown-menu {
    position: absolute;
    top: 100%; 
    left: 50%;
    display: none;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

@media (max-width: 600px) {
  .pdfBox {
    width: 95%;
    padding: 1.5rem;
  }

  .btn-group {
    flex-direction: column;
  }
}
